.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: baseline;
    margin-bottom: 0;

    &:has(:global(.form-check-input)) {
        align-items: center;
    }
}

.label {
    text-align: right;

    :global(label) {
        margin-bottom: 3px;
    }
    + div:has(:global(.form-check-input)) {
        display: flex;
        align-items: center;

        :global(.form-text) {
            margin-left: 0.75em;
            margin-bottom: 0.5em;
        }
    }
}

.row :global(.form-control), .row :global(.btn) {
    margin-bottom: 0.5em;
}

.row :global(.form-check-input) {
    position: static;
    margin: 12px 0;
}

.row :global(.btn-link.btn-sm) {
    text-decoration: none !important;
}

.groupReservationLimit {
    height: 46px;
}
